@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Student Management System</h1>
    <p>Student Management System is a complete and feature-rich offline school management software for all educational institutes. This school management software is for the learning, administration, and management of your activities in schools, colleges, universities, tuition centers, or training centers. Our free school management system manages the entry of students.
       </p> <p>Student Management System is the module of school management software, basically, school management software is a complete offline school desktop application for educational institute. It is specially designed to fulfill all the requirements of educational institutes. It is protected, reliable, and has a user-friendly. School Management Software gives you detail about your student entry record.
    </p>
    <img src="~/lib/s.jpg" />
    <h1 class="display-5">About Us</h1>
    <p>Our main focus is design a unique Student Management system System that will improve Data maagement in Institutes experience for both Students and the Adminstartion authorities. The whole system will run on internet where admin keep the record of record of new student that entered for educational purpose but only those student are added who has got the admission. It will help to keep basic information about student.</p><p> Student Management System is software which is helpful for students as well as the school authorities. In the current system all the activities are done manually. It is very time consuming and costly. Our Student Management System deals with the various activities related to the students.</p>
    
</div>
