@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}

<h1>@ViewData["Title"]</h1>
<img src="~/lib/R.jpg">
<br />
<br />
<br />
<br />
<p>Thank you for choosing to be part of this. We are committed to protecting your personal information and your right to privacy. If you have any questions or concerns about our policy, or our practices with regards to your personal information, please contact us.</p>

 <p> When you visit our website , you trust us with your personal information. We take your privacy very seriously. In this privacy notice, we describe our privacy policy. Its about what information we collect, how we use it and what rights you have in relation to it. If there are any terms in this privacy policy that you do not agree with, please discontinue use of our Sites.</p>

    
